{% extends 'base.html' %}

{% block head %}
<title>Achilles</title>
{% endblock %}

{% block body %}

{% if alt != [] %}
{% for i in alt %}
<br />
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{i[1]}} is due this week! [{{i[4]}}]</strong> Please check it.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}


<div class="content pt-5">
    {% if nstart != [] %}
    <h1>Not Started</h1>
    <div class="card">
        <table id="demo" style="table-layout: fixed; width:100%;">
            <tr>
                <th>id</th>
                <th>Task</th>
                <th>Details</th>
                <th>Tags</th>
                <th>SID</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
            {% for i in nstart %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>
                    <div class="container">
                        {% for j in tt%}
                        {% if i[0] ==j[0]%}
                        <button type="button" class="btn btn-success">{{tags[j[1]-1][1]}}</button>
                        {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>
                    <a href="/delete/{{i[0]}}">Delete</a>
                    <br>
                    <a href="/update/{{i[0]}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <br />
    {% if doing != [] %}
    <h1>On-going</h1>
    <div class="card">
        <table id="demo" style="table-layout: fixed; width: 100%;">
            <tr>
                <th>id</th>
                <th>Task</th>
                <th>Details</th>
                <th>Tags</th>
                <th>SID</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
            {% for i in doing %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>
                    <div class="container">
                        {% for j in tt%}
                        {% if i[0] ==j[0]%}
                        <button type="button" class="btn btn-success">{{tags[j[1]-1][1]}}</button>
                        {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>
                    <a href="/delete/{{i[0]}}">Delete</a>
                    <br>
                    <a href="/update/{{i[0]}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <br />
    {% if com != [] %}
    <h1>Completed</h1>
    <div class="card">
        <table id="demo" style="table-layout: fixed; width: 100%;">
            <tr>
                <th>id</th>
                <th>Task</th>
                <th>Details</th>
                <th>Tags</th>
                <th>SID</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
            {% for i in com %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>
                    <div class="container">
                        {% for j in tt%}
                        {% if i[0] ==j[0]%}
                        <button type="button" class="btn btn-success">{{tags[j[1]-1][1]}}</button>
                        {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>
                    <a href="/delete/{{i[0]}}">Delete</a>
                    <br>
                    <a href="/update/{{i[0]}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <br />
    {% if idk != [] %}
    <h1>I don't know</h1>
    <div class="card">
        <table id="demo" style="table-layout: fixed; width: 100%;">
            <tr>
                <th>id</th>
                <th>Task</th>
                <th>Details</th>
                <th>Tags</th>
                <th>SID</th>
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
            {% for i in idk %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>
                    <div class="container">
                        {% for j in tt%}
                        {% if i[0] ==j[0]%}
                        <button type="button" class="btn btn-success">{{tags[j[1]-1][1]}}</button>
                        {% endif %}
                        {% endfor %}
                    </div>
                </td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>
                    <a href="/delete/{{i[0]}}">Delete</a>
                    <br>
                    <a href="/update/{{i[0]}}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    <br />
    <h2>Add Task</h2>
    <div class="card g-4 ex1">
        <form action="/" method="POST">
            <h4>Name</h4>
            <div>
                <input type="text" name="con" id="content">
            </div><br />
            <br />
            <h4>Details</h4>
            <div>
                <input type="text" name="det" id="det">
            </div>
            <br />
            <br />
            <h4>Tags</h4>
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                {% for tag in tags %}
                <input type="checkbox" class="btn-check" name="tag{{tag[0]}}" value="{{tag[0]}}" id="btncheck{{tag[0]}}"
                    autocomplete="off">
                <label class="btn btn-outline-success" for="btncheck{{tag[0]}}">{{tag[1]}}</label>
                {% endfor %}
            </div>
            <br />
            <br />
            <h4>Status</h4>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                {% for i in status %}
                {% if i[0] == 1 %}
                <input type="radio" class="btn-check" name="opt" id="status{{i[0]}}" value="{{i[0]}}" autocomplete="off"
                    checked>
                {% else %}
                <input type="radio" class="btn-check" name="opt" id="status{{i[0]}}" value="{{i[0]}}"
                    autocomplete="off">
                {% endif %}
                <label class="btn btn-outline-primary" for="status{{i[0]}}">{{i[1]}}</label>
                <br />
                {% endfor %}
            </div>
            <br />
            <br />
            <h4>Due date</h4>
            <div>
                <input type="datetime-local" name="date" value="" id="deadline">
            </div>
            <br />
            <br />
            <br />
            <input type="submit" value="Add Task">
            <br />
            <br />
    </div>
    <br />
    <br />
    <p>Last reset: {{last}}</p>
    <input type="submit" style="background-color:red;" name="reset" value="reset">
    </form>

</div>

<br />
<h1> SFW Anime Space </h1>
<img src="{{url}}" alt="girl pic" class="center">

{% endblock %}