{% extends 'base.html' %}

{% block head %}
<title>Achilles</title>
{% endblock %}

{% block body %}

<div class="container">
    <h1>Name</h1>
    <p>{{item[1]}}</p><br />
    <h1>Details</h1>
    <p>{{item[2]}}</p><br />
</div>

<div class="content pt-5">
    <h1>Update Task</h1>
    <div class="card g-4 ex1">
        <form action="/update/{{item[0]}}" method="POST">
            <h4>Name</h4>
            <div>
                <input type="text" name="con" id="content" value="{{item[1]}}" size="85%">
            </div>
            <br />
            <h4>Details</h4>
            <div>
                <a><textarea rows="20%" cols="85%" name="det" id="det">{{item[2]}}</textarea></a>
            </div>
            <br />
            <h4>Tags</h4>
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                {% for tag in tags %}
                {% if (item[0],tag[0]) in tt %}
                <input type="checkbox" class="btn-check" name="tag{{tag[0]}}" value="{{tag[0]}}" id="btncheck{{tag[0]}}"
                    autocomplete="off" checked>
                {% else %}
                <input type="checkbox" class="btn-check" name="tag{{tag[0]}}" value="{{tag[0]}}" id="btncheck{{tag[0]}}"
                    autocomplete="off">
                {% endif %}
                <label class="btn btn-outline-success" for="btncheck{{tag[0]}}">{{tag[1]}}</label>
                {% endfor %}
            </div>
            <h4>Status</h4>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                {% for i in status %}
                {% if i[0] == item[3] %}
                <input type="radio" class="btn-check" name="opt" id="status{{i[0]}}" value="{{i[0]}}" autocomplete="off"
                    checked>
                {% else %}
                <input type="radio" class="btn-check" name="opt" id="status{{i[0]}}" value="{{i[0]}}"
                    autocomplete="off">
                {% endif %}
                <label class="btn btn-outline-primary" for="status{{i[0]}}">{{i[1]}}</label>
                <br />
                {% endfor %}
            </div>
            <h4>Due date</h4>
            <input type="datetime-local" name="date" value="{{item[4]}}" id="deadline">
            <br />
            <br />
            <br />
            <input type="submit" value="Update">
            <br />
            <br />
        </form>
    </div>
</div>
{% endblock %}