/* Global styles */
body {
    font-family: "Roboto", Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Content container */
.content {
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
}

/* Heading */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Form styles */
form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

/* Link styles */

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close {
    /* Customize button appearance */
    color: #fff;
    background-color: #dc3545;
    border-radius: 10%;
    padding: 0.5rem 0.75rem;
    border: none;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}

.close:hover {
    opacity: 1;
}

.close span {
    /* Customize icon appearance */
    font-size: 1.2rem;
}

@media print {
    .hidden-print {
        display: none !important;
    }
}

#demo {
    width: 400px;
    order-collapse: collapse;
}

#demo tr:nth-child(odd) {
    background: #f2f2f2;
}

#demo td,
#demo th {
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
}

#demo th {
    color: #fff;
    background: #2b2e27;
    border: 2px solid black;
    border-collapse: collapse;
}

/* (PART B) ON DRAG HOVER */
#demo tr.hover {
    background: #eff70d;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 85%;
    height: 20%;
}

button {
    height: 55%
}

.resizable-image {
    max-width: 10%;
    max-height: 10%;
    display: block;
    margin: auto;
}

div.ex1 {
    padding-left: 50px;
}