{% extends 'base.html' %}


{% block content %}

    <h1>Tasks</h1>

{% for item in nw %}
    <div class="card text-center">
        <div class="card-header">
        {{item.name}}
        </div>
        <div class="card-body">
        <h5 class="card-title">Label: {{item.label}}</h5>
        <p class="card-text">Status: {{item.status}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-body-secondary">
            Deadline: {{item.deadline}}
        </div>
    </div>

{% endfor %}

{% endblock %}